@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?mfenxl");
  src: url("fonts/icomoon.eot?mfenxl#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?mfenxl") format("truetype"),
    url("fonts/icomoon.woff?mfenxl") format("woff"),
    url("fonts/icomoon.svg?mfenxl#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Bus-solid:before {
  content: "\e900";
}
.icon-Iconmonstr-gamepad-17:before {
  content: "\e901";
}
.icon-Music-solid:before {
  content: "\e902";
}
.icon-Travel:before {
  content: "\e90e";
}
.icon-Delete:before {
  content: "\e922";
}
.icon-Categories:before {
  content: "\e923";
}
.icon-Clipboard:before {
  content: "\e917";
}
.icon-Dashboard:before {
  content: "\e921";
}
.icon-App:before {
  content: "\e903";
}
.icon-Arrow:before {
  content: "\e904";
}
.icon-Art:before {
  content: "\e905";
}
.icon-Attach:before {
  content: "\e906";
}
.icon-Calendar:before {
  content: "\e907";
}
.icon-Camera:before {
  content: "\e908";
}
.icon-Car:before {
  content: "\e909";
}
.icon-Close:before {
  content: "\e90a";
}
.icon-Coffee:before {
  content: "\e90b";
}
.icon-Edit:before {
  content: "\e90f";
}
.icon-Education:before {
  content: "\e910";
}
.icon-Entertainment:before {
  content: "\e911";
}
.icon-Exercise:before {
  content: "\e912";
}
.icon-Food:before {
  content: "\e913";
}
.icon-Gym:before {
  content: "\e914";
}
.icon-Health:before {
  content: "\e915";
}
.icon-Help:before {
  content: "\e916";
}
.icon-Language:before {
  content: "\e918";
}
.icon-Menu:before {
  content: "\e919";
}
.icon-Money:before {
  content: "\e91a";
}
.icon-Office:before {
  content: "\e91b";
}
.icon-Pet:before {
  content: "\e91c";
}
.icon-Shop:before {
  content: "\e91d";
}
.icon-Stats:before {
  content: "\e91e";
}
.icon-Ticket_send:before {
  content: "\e91f";
}
.icon-Key:before {
  content: "\e920";
}
.icon-Education-Technical:before {
  content: "\e90c";
}
.icon-Gift:before {
  content: "\e90d";
}
.icon-Play:before {
  content: "\e924";
}
.icon-Price-tag:before {
  content: "\e935";
}
.icon-Lifebuoy:before {
  content: "\e941";
}
.icon-Star-full:before {
  content: "\e9d9";
}
.icon-Arrow-left2:before {
  content: "\ea40";
}
